<div class="flex items-center justify-between mb-4">
  <h1 class="text-2xl font-semibold">Edit Work Task — <%= @work_task.label %></h1>
</div>

<div class="card">
  <div class="card-body">
    <%= render "form", work_task: @work_task, config: @config %>
  </div>
</div>
