<div class="flex items-center justify-between mb-4">
  <h1 class="text-2xl font-semibold">New AI Engine Configuration</h1>
</div>


<div class="card mb-4 border border-gray-300 rounded-lg">
  <div class="card-body">
    <%= render "form", config: @config %>
  </div>
</div>
