<%# frozen_string_literal: true %>

<%= render partial: 'spree/admin/shared/error_messages', locals: { target: @config } %>

<div class="card">
  <div class="card-header">
    <h5 class="mb-0">Instagram Publisher Configuration</h5>
  </div>
  <div class="card-body">
    <%= render 'form' %>
  </div>
</div>
